header{
    background-color: #3f7c6a;
    margin: auto;
    padding: 1%;
}
.navbar{
    overflow: hidden;
    position: static;
    top: 1%;
}
ul{
   list-style: none;     
}
.menu li a{
 display: block ;
 color: #ffffff;
 padding: 10px 15px;
 text-decoration: none;
}
.menu >li{
 float:left;
}
.menu>li:hover{
    background-color: #034353;
}
.menu li>a:hover{
       background-color: #034353;
}
.menu li ul{
    display :none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover>ul{
    display: block;
}
body{
    margin: 0%;
    background-color: #383232;
}
